mixin item(text,link)
	li
		a(href=link)= text

nav.wrap.main
	ul.col
		+item('Home','/')
		+item('Campaigns','/campaigns')
		+item('Subscribers','/subscribers')
		if user.role == 'admin'
			+item('Administrators', '/admins')