doctype html
html
	head
		title= 'node-newsletter : ' + title
		link(href='css/main.min.css', rel='stylesheet')

	body
		div#wrapper
			header
				h1= title
			
			block content

			footer
				footer


