doctype html
html
	head
		title= 'node-newsletter : ' + title
		link(href='/css/main.min.css', rel='stylesheet')
		meta(name='viewport',content='width=device-width,initial-scale=1')

	body
		header.row
			if authenticated
				include nav/internal.jade
			else
				include nav/main.jade
			
		block content

		footer.wrap.row
			.col footer
