fieldset
	border: 1px solid $highlight2
	padding: $padding
	margin-bottom: 1em
	border-radius: 5px
	background: lighten($background, 15%)

legend
	padding: 0 1em
	font-size: 0.9em

.form-line
	max-width: $form-max-width
	overflow: hidden
	line-height: 150%
	padding-top: 10px

	label
		display: block

	input
		float: right
		width: $form-field-width
		border: 1px solid $highlight1
		background: white
		padding: $padding

input[type=checkbox],
input[type=radio]
	margin-right: 1em
	border: none
	float: none
	width: auto
